/* Responsive for mobile */
@media screen and (max-width:576px) {

    /* banner section responsive */
    .banner-conatiner {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .banner-content {
        margin: 0 auto;
    }

    .banner-content .banner-title {
        font-size: 40px;
        text-align: center;
        padding-top: 50px;
    }

    .banner-content .banner-description {
        font-size: 15px;
        text-align: center;
        padding: 20px;
    }

    .banner-content .banner-btn {
        font-size: 15px;
        padding: 8px 20px;
        margin: 0 auto;
    }

    .banner-image {
        width: 50%;
        margin: 0 auto;
    }

    .banner-image img {
        width: 100%;
        padding: 0;
    }

    /* featured flowers section responsive */
    .featured-flower {
        margin: 50px auto;
    }

    .title {
        font-size: 25px;
        padding: 0;
    }

    .description {
        font-size: 15px;
        padding: 15px;

    }

    .flowers-cards {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
    }

    .card img {
        width: 50%;
    }

    .mixed-flower img {
        padding: 80px 60px;
    }

    .flower-name {
        font-size: 15px;
    }



    /* flower service feature responsive */
    .service-feature {
        padding: 40px;
        margin: 0 60px;
    }


    .delivery-man,
    .local-growers,
    .support {
        width: 50%;

    }

    .delivery-man,
    .local-growers,
    .support>img {
        width: 100%;
    }

    .service-text {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
    }

    /* sale offer resposive */
    .sale-offer {
        flex-direction: column;
        gap: 5px;
        margin: 50px 0;
    }

    .offer-title {
        font-size: 25px;
        padding-top: 40px;
    }

    .offer-description {
        font-size: 15px;
        text-align: center;
        padding: 20px 10px;
    }

  .offer-image{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

    .offer-image>img {
        width: 50%;
        padding: 0;
      
    }

    /* social section responsive */
    .social-photos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 50%;
        gap: 10px;
    }

    .social-photos > img{
        width: 100%;
        text-align: center;
    }


    /* the latest deals section responsive */
    .latest-deals{
        margin: 50px 60px;
    }

    .caption{
     padding-top: 40px;
    }

    .info{
        padding:0 100px 40px 100px ;
    }

    .info .email{
padding: 20px;
width: 200px;
font-size: 10px;

}

.info .subs-btn{
    width: 100px;
    padding: 20px;
    font-size: 10px;
   
}
}